/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.half {
  float: left;
  width: 49.18155%;
  margin-right: 1.6369%;
}

.half:last-child {
  float: right;
  margin: 0;
}

.is-hidden {
  display: none !important;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666;
}

a:link, a:visited {
  color: #24374F;
  text-decoration: none;
  border-bottom: 1px solid #24374F;
}

a:hover, a:focus, a:active {
  color: #465D75;
  border-bottom: 0;
}

.background-photo {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: white center center no-repeat;
  background-size: cover;
}

#before-our-story {
  background-image: url('photo-1.jpg');
}
#before-details {
  background-image: url('photo-2.jpg');
  background-position: center top;
}
#before-registry {
  background-image: url('photo-3.jpg');
  background-position: center top;
}
#before-rsvp {
  background-image: url('photo-4.jpg');
  background-position: center top;
}

.page {
  position: relative;
  z-index: 0;
  top: 40px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: white;
  padding: 10px 0;
  border-bottom: 1px solid #E2E2E2;
}

.jk-logo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: transparent url('jk-logo.svg') center center no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 0;
}

.jk-name {
  display: block;
  float: left;
  width: 29px;
  height: 20px;
  background: transparent url('jk-name.svg') center center no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.jk-name:link, .jk-name:visited {
  border: 0;
}

.nav {
  font-family: 'Lora', serif;
  float: right;
  margin-top: 3px;
}

.nav-toggle {
  float: right;
  display: none;
  background: white url('nav.svg') center center no-repeat;
  width: 25px;
  height: 17px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1px;
}

.nav li {
  display: inline-block;
  padding: 0 10px;
}

.nav li:first-child {
  padding-left: 0;
}
.nav li:last-child {
  padding-right: 0;
}

.nav a:link, .nav a:visited {
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 0;
}

.nav li.rsvp a:link, .nav li.rsvp a:visited {
  background: #24374F;
  color: white;
  padding: 7px 10px;
}

.nav li.rsvp a:active, .nav li.rsvp a:focus, .nav li.rsvp a:hover {
  background: #465D75;
  color: white;
}

.section {
  padding: 100px 0;
}

#rsvp {
  max-width: 700px;
  margin: 0 auto;
}

.hotel-details {
  display: none;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

form {
  margin-top: 25px;
}

.section-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.section-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: center;
}

#rsvp .section-title {
  margin-bottom: 0;
}

.section-subtitle small {
  font-weight: 400;
  display: block;
}

.with-top-gap {
  margin-top: 60px;
}

p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#our-story p {
  text-align: justify;
}

strong {
  font-weight: 700;
}

small {
  font-size: 12px;
}

small.block {
  display: block;
  margin: 15px 0;
  text-align: center;
}

p:last-child {
  margin: 0;
}

.bed-bath-beyond {
  display: block;
  margin: 30px auto;
  width: 300px;
  height: 95px;
  background: transparent url('bed-bath-beyond.svg') center center no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 0;
}

.bed-bath-beyond:link, .bed-bath-beyond:visited {
  border-bottom: 0;
}

.button, .button:link, .button:visited {
  display: inline-block;
  background: #24374F;
  border: 0;
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button:hover, .button:focus, .button:active {
  background: #465D75;
  outline: 0;
}

.secondary-button, .secondary-button:link, .secondary-button:visited {
  display: inline-block;
  background: white;
  border: 1px solid #24374F;
  color: #24374F;
  font-size: 20px;
  line-height: 20px;
  padding: 9px 20px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.secondary-button:hover, .secondary-button:focus, .secondary-button:active {
  border-color: #465D75;
  color: #465D75;
  outline: 0;
}

.small.button, .small.secondary-button {
  font-size: 14px;
  line-height: 14px;
  padding: 8px 10px;
}

.small.secondary-button {
  padding: 7px 10px;
}

.footer {
  padding: 50px 0;
}

.field {
  margin-bottom: 30px;
}

.buttons {
  text-align: center;
  margin: 10px 0 50px;
}

.left-buttons {
  text-align: left;
  margin: 20px 0;
}

.buttons input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 5px;
}
    
label {
  display: block;
  margin-bottom: 5px;
  word-wrap: break-word;
  font-size: 18px;
  line-height: 24px;
  color: #24374F;
}

label small {
  display: block;
  color: #999;
}

input[type=text], input[type=password], input[type=number], input[type=email], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 18px;
  background-color: white;
  border-bottom: 1px solid #999;
  color: #333;
}

textarea {
  border: 1px solid #999;
  font-size: 14px;
}

input:focus, textarea:focus {
  border-color: #24374F;
}

::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}

.food-options {
  margin-top: 10px;
}

.food-options label {
  margin: 0 0 10px 0;
  color: #666;
}

span.error {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: red;
}

.add-guest, .add-guest:link, .add-guest:visited, .add-guest:focus {
  display: inline-block;
  background: #CCC;
  border: 0;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  padding: 8px 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.add-guest:hover, .add-guest:active {
  background: #465D75;
  color: white;
  outline: 0;
}

.remove-guest, .remove-guest:link, .remove-guest:visited, .remove-guest:focus {
  display: inline-block;
  background: white;
  border: 1px solid #CCC;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  padding: 7px 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.remove-guest:hover, .remove-guest:active {
  background: white;
  border-color: #465D75;
  color: #333;
  outline: 0;
}

form .buttons {
  margin-top: 50px;
}

form .left-buttons {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  #before-footer {
    background-position: 35% center;
  }
  #before-rsvp {
    background-position: 55% top;
  }

  .nav-toggle {
    display: block !important;
  }

  .nav {
    clear: both;
    float: none;
    display: none;
    padding-top: 10px;
  }

  .nav li {
    display: block;
    padding: 10px 0;
    text-align: right;
  }
  
  .buttons input, .buttons a {
    box-sizing: border-box;
    display: block;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .half {
    float: none;
    width: 100%;
    margin: 0;
  }
}

.video {
  width: 100%;
  position: relative;
  padding-top: 56.5%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 601px) {
  
  .nav {
    display: block !important;
  }
}
